{% extends "base.html" %}
{% block content %}

<ul class="nav justify-content-center">
    <h1>Reddit</h1>
</ul>

<ul class="nav justify-content-center">

    {% for post in posts %}
        <li class="list-group-item">
            <div class="card" style="width: 50rem;">
                <div class="alert alert-light" role="alert">
                    <span class="badge text-bg-primary">{{ post.user }}</span>
                    <a href="{% url 'post-detail' post.pk %}" class="text-decoration-none">{{ post.title }}</a>
                    {% if post.media %}
                    <img src="{{ post.media.url }}" class="card-img-top" alt="...">
                    {% endif %}
                </div>
            </div>
        </li>
    {% empty %}
<ul class="nav justify-content-center">
    <li class="nav-item">
        <h1>There are currently no posts</h1>
    {% endfor %}
    </li>
</ul>

{% endblock %}