{% extends "base.html" %}
{% block content %}
{% load extra_tags %}

<ul class="nav justify-content-center">
    <h1>Reddit</h1>
</ul>

<ul class="nav justify-content-center">
    <a href="{% url 'post-create' %}" class="btn btn-primary">Create post</a>
</ul>

<ul class="nav justify-content-center">

    {% for post in posts %}
        <li class="list-group-item">
            <div class="card" style="width: 50rem;">
                <div class="alert alert-light" role="alert">
                     <div class="post-left">
                          <div class="dropdown">
                        <a class="badge text-bg-primary" href="{% url 'profile' request.user.profile.pk %}">{{ post.user }}</a>
                        <a href="{% url 'post-detail' post.pk %}" class="text-decoration-none">{{ post.title }}</a>
                        <button class="post-menu">⋮</button>
                        {% if post.media %}
                              {% if post.media.url|lower|endswith:".jpg" or post.media.url|lower|endswith:".png" or post.media.url|lower|endswith:".jpeg" or post.media.url|lower|endswith:".gif" %}

                              <img src="{{ post.media.url }}" class="card-img-top" alt="...">
                              {% elif post.media.url|lower|endswith:".mp4" or post.media.url|lower|endswith:".webm" %}
                                <div class="ratio ratio-16x9 mt-3 rounded shadow-sm overflow-hidden">
                                    <video controls preload="metadata">
                                        <source src="{{ post.media.url }}">
                                    </video>
                                </div>

                              {% else %}
                              <div class="alert alert-secondary mt-3">
                                  Attachment:
                                    <a href="{{ post.media.url }}" download>
                                        {{ post.media.name|cut:"posts_media/" }}
                                    </a>
                                </div>
                              {% endif %}
                        {% endif %}
                             </div>
                        </div>
                     </div>
                </div>
            </div>
        </li>
    {% empty %}
<ul class="nav justify-content-center">
    <li class="nav-item">
        <h1>There are currently no posts</h1>
    {% endfor %}
    </li>
</ul>

{% endblock %}