.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;

  max-width: 1000px;
  margin-top: 80px;
}

.profile-box {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid #000;
  transform: translateX(20px);
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.username {
  width: 550px;
  background: white;
  color: black;
  padding: 15px 25px;
  border-radius: 25px;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  left: 160px;
  top: -80px;
  text-align: center;
}

.description {
  width: 550px;
  background: white;
  color: black;
  padding: 25px;
  border-radius: 35px;
  font-size: 15px;
  line-height: 1.6;
  position: relative;
  left: 160px;
  top: -65px;
}

.navbar {
  position: relative;
}

.navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  width: 10px;
  height: calc(100vh - 56px);

  margin: 0;
  border-radius: 0;
  border: none;

  background-color: black;
}

.navbar .dropdown-item {
  padding: 15px 25px;
  font-size: 16px;
  color: white;
}

.navbar .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.dropdown-menu[data-bs-popper] {
  left: 0 !important;
  right: auto !important;
}
