{% extends "base.html" %}
{% block content %}

<ul class="nav justify-content-center">
    <h1>Notes</h1>
</ul>

<ul class="nav justify-content-center">
    <a href="{% url 'note-create' %}" class="btn btn-primary">Create your note</a>
</ul>

<ul class="nav justify-content-center">

    {% for note in notes %}

        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ notes.title }}</li>
            <li class="list-group-item">{{ notes.description }}</li>
          </ul>
        </div>
            <button type="submit" class="badge text-bg-warning">Edit</button>
            <button type="submit" class="badge text-bg-danger">Delete</button>
        {% endfor %}
{% endblock %}