{% extends "base.html" %}
{% load static %}
{% block content %}

{% block footer %}{% endblock %}

<div class="profile-wrapper">

  <div class="profile-box">
    {% if profile.media %}
      <img src="{{ profile.media.url }}" class="avatar" alt="avatar">
    {% else %}
      <img src="{% static 'img/Portrait_Placeholder.png' %}" class="avatar" alt="avatar">
    {% endif %}
  </div>

  <div class="user-info">
    <div class="username">{{ profile.user }}</div>
    <div class="description">{{ profile.about_yourself }}</div>
  </div>

</div>

{% endblock %}
