.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;

  max-width: 1000px;
  margin: 120px auto 0;
}

.profile-box {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid #000;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.username {
  width: 420px;
  background: white;
  padding: 15px 25px;
  border-radius: 25px;
  font-size: 22px;
  font-weight: bold;
}

.description {
  width: 420px;
  background: white;
  padding: 25px;
  border-radius: 35px;
  font-size: 15px;
  line-height: 1.6;
}

.profile-wrapper {
  border: 5px solid red !important;
}
